/*-----------------------Video INTRO-------------------*/

.video-bg {
    width: 100%;
    height: 95%;
    position: relative;
    display: block;
    background: #000;
    max-height: 720px;
}
.video-bg img {
    position: absolute;
    -o-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin-left: 50%;
    margin-top: 100;
}
#bgvid {
    width: 100% !important;
    height: 100% !important;
    -o-transition: 1s opacity;
    -moz-transition: 1s opacity;
    -webkit-transition: 1s opacity;
    transition: 1s opacity;
    max-height: 720px;
}
.player {
    position: absolute;
    bottom: 40px;
    height: auto;
}
.player button {
    background-color: transparent;
    height: 100px;
    width: 100px;
    margin-top: 40px;
    border-radius: 50px;
    border: #fff solid 2px;
    -o-transition: 1s opacity;
    -moz-transition: 1s opacity;
    -webkit-transition: 1s opacity;
    transition: 1s opacity;
}
.player button:focus {
    outline: none;
}
#title {
    color: white;
    -o-transition: 1s opacity;
    -moz-transition: 1s opacity;
    -webkit-transition: 1s opacity;
    transition: 1s opacity;
}
#title h2,
#title h4 {
    color: white;
    -o-transition: 1s opacity;
    -moz-transition: 1s opacity;
    -webkit-transition: 1s opacity;
    transition: 1s opacity;
}
.opac {
    opacity: 0.3
}
.opac-totale {
    opacity: 0
}
.opac-off {
    opacity: 0.6;
}

/*-----------------------TOP BAR-------------------*/

.menu-top-bar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: #fff;
    color: #000;
    border-bottom: solid 1px #000;
    z-index: 10000;
}
.menu-top-bar h5 {
    padding-top: 10px;
}
.social {
    text-align: right;
    color: black;
}
.social i {
    color: black;
}
.social i {
    color: white;
    padding: 13px;
    font-size: 20px;
}

/*-----------------------GRID-------------------*/

.space {
    margin: 6% 0;
}
.space-top {
    margin-top: 10%;
}
.space-p {
    padding: 5% 0;
}
.gray-bg {
    background-color: #ededed;
}
.title-header h2 {
    margin-top: -1.5rem !important;
}
.title-header p {
    margin-top: -0.4rem !important;
    color: #9e0a0f;
}
.didascalie p {
    margin: -0.4rem 0;
    font-size: 90%;
    color: #969696
}
.didascalie h6 {
    font-size: 90%;
    color: #3e3e3e
}
.firstcharacter {
    float: left;
    font-size: 80px;
    line-height: 90px;
    padding-top: 2px;
    margin-right: 30px;
    padding-left: 3px;
    font-family: 'Lyon Text OSF Web';
    font-weight: 700;
    font-style: normal;
}

/*-----------------------MORTALITY GRAPH-------------------*/

.box {
    width: 200px;
    height: 200px;
    background-color: #d7d7d7;
}
.hidden {
    display: none;
}
.box img,
#description,
#reload {
    display: none;
}
.box,
#reload {
    cursor: pointer;
}
.result-description {
    height: 200px;
}
#description {
    color: #979797;
    margin-top: 20px;
}
#description span {
    color: #9e0a0f;
    font-weight: 900;
    color:
}
#reload {
    color: #969696;
    border: solid 2px #969696;
    border-radius: 30px;
    background-color: transparent;
}
footer {
    background-color: #dedbdb;
    padding: 40px 0;
}
footer p {
    font-size: 13px;
    color: #3e3e3e
}

/*--------------------------VIDEO GALLERY------------*/

.main-video-box {
    height: 80%
}
.btn-group {
    padding: 16px
}
.active-section .image-overlay-content {
    opacity: 1 !important;
}
.active-section h2 {
    opacity: 1 !important;
}
.image-wrapper {
    width: 100%;
    overflow: hidden;
    position: relative;
    text-align: center;
    padding: 0 0.625rem 1.25rem 0.625rem;
    cursor: pointer;
}
.image-overlay-content {
    height: 30%;
    position: absolute;
    overflow: hidden;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 0.625rem 1.25rem 0.625rem;
}
.overlay-fade-in img {
    transition: all 0.2s linear;
    width: 100%;
    top: 0;
}
.overlay-fade-in .image-overlay-content {
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.4);
    transition: all 0.2s ease-in-out;
}
.overlay-fade-in h2 {
    color: #f2f2f2;
    font-size: 1rem;
    position: absolute;
    margin-left: 20px;
    bottom: 0;
    opacity: 0;
    transition: all 0.2s ease-in-out;
}
.overlay-fade-in .button:hover {
    box-shadow: 0 0 5px #000;
}
.overlay-fade-in:hover .image-overlay-content {
    opacity: 1;
}
.overlay-fade-in:hover img {
    filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
    filter: gray;
    -webkit-filter: grayscale(100%);
}
.overlay-fade-in:hover h2,
.overlay-fade-in p,
.overlay-fade-in .button {
    opacity: 1;
}

/*--------------------------------------------------------------------------*/

.btn-group button {
    float: left;
    display: block;
    width: 100%;
    height: 150px;
    margin: 0;
    border: 0;
    padding: 0 !important;
    text-decoration: none;
    font-size: 1em;
    text-align: center;
    line-height: 100px;
    background-color: transparent;
    cursor: pointer;
}
.hide-01 {
    display: none;
}
.hide {
    opacity: 0;
    transform: translate(0, 10px);
    visibility: hidden;
}
.container h5 {
    color: #9e0a0f;
}
